{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'css/styleshedule.css' %}">
  <title>Schedule </title>

</head>
<body>
  <header class="cd-main-header text-center flex flex-column flex-center">

    <h1 class="text-xl">Schedule</h1>
  </header>

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>07:00</span></li>
        <li><span>07:30</span></li>
        <li><span>08:00</span></li>
        <li><span>08:30</span></li>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>

      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Monday</span></div>
  
          <ul>
              {% for sub in Monday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Tuesday</span></div>
  
          <ul>
            {% for sub in Tuesday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Wednesday</span></div>
  
          <ul>
            {% for sub in Wednesday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Thursday</span></div>
  
          <ul>
            {% for sub in Thursday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Friday</span></div>
  
          <ul>
            {% for sub in Friday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Saturday</span></div>

          <ul>
            {% for sub in Saturday %}
                <li class="cd-schedule__event">
                    <a data-start={{ sub.start_time }} data-end={{ sub.end_time }} data-content="event-abs-circuit" data-event="event-3" href="#0">
                        <em class="cd-schedule__name">{{ sub.className }}</em>
                        <em class="cd-schedule__name">{{ sub.classID }}</em>
                        <em class="cd-schedule__name">{{ sub.auditorium }}</em>
                    </a>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  <script src="{% static '/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{% static '/js/main.js' %}"></script>
</body>
</html>